.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER; 
    -fx-spacing: 10;
    -fx-padding: 10;
}

.Subject {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-fill: darksalmon;
}

.Button {
    -fx-background-color: navajowhite;
    -fx-text-fill: brown;
    -fx-padding: 10;
    -fx-min-width: 250;
}